body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e1b1b1;
}

header {
    background-color: #333;
    color: #d5adad;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    margin: 20px;
}

footer {
    background-color: #ae8e8e;
    color: #000000;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
